@font-face {
  font-family: "AbrilFatface";
  src: local("☺"),
    url("../assets/font/AbrilFatface-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "JosefinSans-Regular";
  src: local("☺"),
    url("../assets/font/JosefinSans-Regular.ttf") format("truetype");
}

:root {
  --old-mauve: rgb(81, 45, 56);
  --old-mauve-semi: rgba(81, 45, 56, 0.75);
  --old-mauve-darker: rgba(81, 45, 56, 0.9);
  --dark-sea-green: rgb(120, 192, 145);
  --darker-sea-green: rgb(94, 150, 113);
  --lavender-blue: rgb(228, 217, 255);
  --camel: rgb(197, 155, 118);
  --camel-semi: rgb(197, 155, 118, 0.5);
  --tea-green: rgb(221, 249, 193);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-image: url("../assets/img/rest-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: "JosefinSans-Regular", sans-serif;
}

#content {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center-flex {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
}

.margin-around {
  margin: 0 1em;
}

.top-bottom {
  padding: 1em 0;
  background-color: var(--old-mauve-darker);
}

.head {
  height: 3.5em;
  border-bottom: 1px solid var(--tea-green);
}

.tabs {
  color: var(--dark-sea-green);
  font-size: 1.2em;
  font-weight: bolder;
  list-style: none;
}

.tab {
  cursor: pointer;
}

.tab:hover {
  border-bottom: 2px solid var(--camel);
}

.title {
  color: var(--lavender-blue);
  font-family: "AbrilFatface", cursive;
}

.title1 {
  font-size: 3em;
}

.title2 {
  text-transform: uppercase;
  text-align: right;
  margin-top: -0.3em;
  margin-right: -0.8em;
  font-size: 1.6em;
  letter-spacing: 0.2em;
}

.center {
  display: grid;
  place-items: center;
  gap: 0;
}

.main-card {
  width: 50em;
  height: 35em;
  margin: 5vh 5vw;
  padding: 1rem 2rem;
  background-color: var(--old-mauve-semi);
  border: 1px solid var(--camel-semi);
}

.tea-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 1px solid var(--tea-green);
}

.main-description {
  height: 25em;
  margin: 0;
  color: var(--lavender-blue);
  text-align: justify;
  grid-template-columns: repeat(2, minmax(auto, 1fr));
  gap: 0 1em;
  font-weight: bold;
}

.rest-about {
  font-size: 1.5em;
}

.menu-btn {
  color: var(--old-mauve);
  padding: 0.5em 1em;
  background: var(--dark-sea-green);
  border: none;
  border-radius: 0.2em;
  font-family: inherit;
  font-size: 0.8em;
  cursor: pointer;
}

.menu-btn:hover {
  background: var(--darker-sea-green);
}

.menu-display {
  height: 100%;
  width: 100%;
  gap: 0;
  color: var(--lavender-blue);
  font-size: 2em;
  font-weight: bold;
}

.menu-item {
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0.2em 0;
}

.menu-photo {
  border-radius: 30%;
  width: 60%;
}

.item-section {
  grid-column: 2 / span 3;
}

.menu-title {
  font-family: "AbrilFatface", cursive;
}

.item-description {
  padding: 0.5em;
  font-size: 0.8em;
  font-style: italic;
}

.item-price {
  padding: 0 0.5em;
  font-size: 0.6em;
}

.contact-display {
  grid-template-rows: auto auto 1fr;
  gap: 1em 0;
  color: var(--lavender-blue);
  margin: 0;
  padding: 0;
}

.contact-card {
  height: 30em;
  width: 30em;
}

.contact-info {
  font-size: 1.2em;
}

.map-frame {
  height: 20em;
  width: 25em;
  max-width: 100%;
}

.foot {
  color: var(--dark-sea-green);
  border-top: 1px solid var(--tea-green);
}

.social-icon {
  cursor: pointer;
}

.social-icon:hover {
  opacity: 0.5;
}

@media only screen and (max-width: 460px) {
  .tea-pic {
    display: none;
  }
  .main-card {
    width: 90vw;
    font-size: 0.8em;
  }
  .main-description {
    display: grid;
    grid-template-columns: 1fr;
  }
  .menu-display {
    overflow: scroll;
  }
  .menu-photo {
    width: 100%;
    border-radius: 0;
  }
}
